{% extends "bootstrap/base.html" %}
{%- block head -%}
    {%- block styles -%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static', filename='css/bolt.css')}}">
    {% endblock %}

    {%- block scripts -%}
        {{ super() }}
        <script src="{{ url_for('static', filename='js/fd.js') }}"></script>
        <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jscolor.min.js') }}"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-103192759-1', 'auto');
            ga('send', 'pageview');

        </script>

    {% endblock %}
    <title>ingress.fulhack.io - {%- block title -%}{% endblock title %} </title>

{% endblock head %}
{%- block body -%}

    {%-block navbar %}
        {{nav.navbar.render()}}
    {% endblock navbar %}


    {%- block content -%}
        <div class="container">
        Contact @handelsvara on Telegram.
        </div>

    {% endblock content %}
{% endblock body %}

