{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{%- block head -%}
    {%- block metas %}
        <meta charset="UTF-8">
        <meta name="description" content="Ingres IITC Draw Tools Field Drawer">
        <meta name="keywords" content="ingress,iitc,draw-tools">
        <meta name="author" content="klippo">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}
    <title>ingress.fulhack.io</title>

    {%- block styles -%}
        {{ super() }}
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/isotope.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/amoeba.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}" media="screen" />
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.min.css') }}" media="screen" />
    {% endblock %}

    {%- block scripts -%}
        {{ super() }}
        <script src="{{ url_for('static', filename='js/field-drawer.js') }}"></script>
        <script src="{{ url_for('static', filename='js/clipboard.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jscolor.min.js') }}"></script>
    {% endblock %}

{% endblock head %}
{%- block body -%}
    <section id="header" class="appear"></section>
    <div class="navbar navbar-fixed-top" role="navigation" data-0="line-height:100px; height:100px; background-color:rgba(0,0,0,0.3);" data-300="line-height:60px; height:60px; background-color:rgba(0,0,0,1);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="fa fa-bars color-white"></span>
                </button>
                <h1><a class="navbar-brand" href="/" data-0="line-height:90px;" data-300="line-height:50px;">INGRESS.FULHACK.IO
                </a></h1>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
                    <li><a href="#section-draw">Draw</a></li>
                    <li><a href="#section-contact">Contact</a></li>
                </ul>
            </div><!--/.navbar-collapse -->
        </div>
    </div>


    <section class="featured appear clearfix" id="section-draw">
        <div class="container">
            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <p>
                            Easier creation of IITC Draw Tools items.
                            <br> Either provide Anchor 1 and 2 coordinates, or parse it from the first polyline value.
                            The portal list must be a Draw Tools export containing markers of portals to use.

                        </p>
                    </div>
                </div>
            </div>
            <div class="row" id="section-draw">
                <div class="col-md-10 col-md-offset-1">
                    <div class="cform" id="draw-form">
                        <form method="post" action="{{ url_for('index') }}" class="drawForm">
                            <fieldset>
                                {{ form.hidden_tag() }}
                                {{ wtf.form_errors(form, hiddens="only") }}
                                {{ wtf.form_field(form.anchor1) }}
                                {{ wtf.form_field(form.anchor2) }}
                                {{ wtf.form_field(form.parse_anchors) }}
                                {{ wtf.form_field(form.include_markers) }}
                                {{ wtf.form_field(form.include_all_polylines) }}
                                {{ wtf.form_field(form.generate_markers) }}
                                {{ wtf.form_field(form.draw_tools_export) }}
                                {{ wtf.form_field(form.draw_color, class="jscolor", value="C3545F") }}
                                <input type="submit" class="btn btn-lg btn-primary" value="Generate"/>
                            </fieldset>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div id="result-modal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Result</h4>
                    </div>
                    <div class="modal-body" id="result">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-clipboard-target="#result">Copy</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </section>
    <section id="section-contact" class="section appear clearfix">
        <div class="container">

            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <h2 class="section-heading animated" data-animation="bounceInUp">Need help?</h2>
                        <p>Write to <a href="http://telegram.me/handelsvara" target="_blank">@handelsvara</a> on Telegram.</p>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="footer" class="section footer">
        <div class="container">
            <div class="container">
                <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
                    <div class="col-sm-12 align-center">
                        <ul class="social-network social-circle">
                            <li><a href="https://telegram.me/handelsvara" target="_blank" class="icoRss" title="Telegram"><i class="fa fa-telegram"></i></a></li>
                            <li><a href="https://github.com/fulhack-io/field-drawer" target="_blank" class="icoGithub" title="Github"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="row align-center copyright">
                        <div class="credits">
                            <!--
                                All the links in the footer should remain intact.
                                You can delete the links only if you purchased the pro version.
                                Licensing information: https://bootstrapmade.com/license/
                                Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Amoeba
                            -->
                            <a href="https://bootstrapmade.com/">Bootstrap Themes</a> by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>
    <script src="{{ url_for('static', filename='js/modernizr-2.6.2-respond-1.1.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nicescroll.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fancybox/jquery.fancybox.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='js/skrollr.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollTo-1.4.3.1-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.localscroll-1.2.7-min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stellar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.appear.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-103192759-1', 'auto');
        ga('send', 'pageview');

    </script>
    {%- block content -%}
    {%- endblock content -%}
{%- endblock body -%}
