{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{%  block head %}
    {% block styles %}
        {{super()}}
        <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.css')}}">
    {% endblock %}

    {% block scripts %}
        {{super()}}
    {% endblock %}

    {% block title %}
        <title>ingress.fulhack.io</title>
    {% endblock title %}
{% endblock head %}

{% block body -%}

    {% block navbar %}
        
        <div id="container">
            {{nav.mynavbar.render()}}
        </div>

    {% endblock navbar %}


    {% block content %}
        <div class="container">
        <form method="post" action="{{ url_for('index') }}" class="form-horizontal">
          <fieldset>

            {{ form.csr_token }}
            {{ wtf.quick_form(form) }}
            <input type="submit" />
          </fieldset>
        </form>
        </div>
    {% endblock content %}
{% endblock body %}
