<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Field Drawer</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='clipboard.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jscolor.min.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />


    <script>
        window.onload=function() {
            var clipboard = new Clipboard('.btn');
        }
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-103192759-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<div id="container">
    <div class="title">
        <h1>Field Drawer</h1>
    </div>
    <div id="content">
        <form method="post" action="{{ url_for('default') }}">
            <label for="anchor1">Anchor 1 coordinates:</label>
            <input type="text" name="anchor1" value="{{ request.form['anchor1'] }}"/><br />
            <label for="anchor2">Anchor 2 coordinates:</label>
            <input type="text" name="anchor2" value="{{ request.form['anchor2'] }}"/><br />
            <label for="portal_list">Portal list (Draw Tools Export, can only contain markers.)</label>
            <textarea name="portal_list" rows="10" cols="150"/>{{ request.form['portal_list'] }}</textarea><br /><br />
            <label for="draw_color">Color</label>
            <input type="text" name="draw_color" class="jscolor" value="{% if request.form['draw_color'] %}{{ request.form['draw_color'] }}{% else %} a24ac3 {% endif %}"><br />
            <input type="checkbox" name="include_markers" id="include_markers" value="include_markers" {% if request.form['include_markers'] %}checked="checked"{% endif %}"/>
            <label for="include_markers">Include markers?</label><br/><br/>
            <input type="submit" />
        </form>
        Need help? Contact @handelsvara on Telegram.<br/>
        No data except access logs are saved.
    </div>

</div>
{% if field %}
<div id="container">
    <div class="title">
        <h1>Result</h1>
    </div>

    <div id="content">
        <textarea id="result" rows="10" cols="200">{{ field }}</textarea><br/><br/>
        <button type="button" class="btn" data-clipboard-action="copy" data-clipboard-target="#result">
            Copy to clipboard
        </button>
    </div>
</div>
{% endif %}

</body>
</html>
